@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');

@mixin theme($bgColor, $fgColor, $textColor) {
	background: linear-gradient(45deg,$bgColor,$fgColor);
	color: $textColor;
	
	&.border {
		border: 1px solid $bgColor;
	}
}

.stevesweather {
	font-family: 'Nunito', sans-serif;
	font-size: 13px;
	display: inline-block;
	padding: 1.4em 2em;
	
	p {
		margin: 0;
		
		&.city {
			font-weight: bold;
			font-size: 1.4em;
		}
		&.conditions {
			font-style: italic;
			font-weight: 200;
		}
		&.temperature {
			font-size: 2.8em;
			font-weight: bold;
		}
	}
	
	img.icon {
		height: 64px;
		float: left;
		margin-top: 7px;
		margin-right: 20px;
		margin-left: 5px;
	}
	
	&.round {
		border-radius: 0.75em;
	}
	
	&.teal {
		@include theme(#30496B,#30B8D2,white);
	}
	
	&.sherbert {
		@include theme(#EF69AD,#FBCA88,white);
	}
	
	&.evening {
		@include theme(#476892,#59355D,white);
	}
	
	&.mint {
		@include theme(#27A47C,#6FE594,white);
	}
	
	&.bubblegum {
		@include theme(#F1467A,#FB949E,white);
	}
	
	&.purple {
		@include theme(#4C15D0,#DA1FF2,white);
	}
	
	&.blush {
		@include theme(#FFC2D4,#DBFDEC,#4e4e4e);
		
		img.icon {
			filter: invert(100%);
			opacity: .7;
		}
	}
	
	&.orange {
		@include theme(#FB7140,#FB9951,white);
	}
}